/* HTML styles for the splash screen */
.avalonia-splash {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
}

html, body {
    background: white;
}

.avalonia-splash a {
    color: #101010;
}

.avalonia-splash h4 {
    font-weight: 400;
}

.avalonia-splash {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.avalonia-splash.splash-close {
    transition: opacity 200ms, display 200ms;
    display: none;
    opacity: 0;
}
